html {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: white;
	font-family: verdana;
	font-size: 14px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 100%;
	position: relative;
}

.content {
	margin-left: 6%;
	margin-right: 6%;
}
/* Use pixels when we are too small to ensure no overlap from side menu */
@media screen and ( max-width: 650px ){
    .content {
        margin-left: 45px;
		margin-right: 45px;
    }
}

#footer {
    padding: 0 0 0 0;	
    margin: 0 0 0 0;
	overflow: auto;
	width: 100%;
	display: block;
	bottom: 0;
	background-color: #356CB5;
    color: white;
	text-align: center;
}
